<section class="p-5 bk">
    <div class="content m-5">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="btn-group d-flex flex-wrap">
              <button type="button" class="btn btn-success btn-filter m-2">
                Mas caro
              </button>
              <button type="button" class="btn btn-warning btn-filter m-2">
                Mas barato
              </button>
              <button type="button" class="btn btn-info btn-filter m-2">
                Mas vendido
              </button>
              <button type="button" class="btn btn-dark btn-filter m-2">
                Todos
              </button>
              <div class="btn-group-2">
                <button type="button" class="btn btn-secondary btn-filter m-2">
                  Editar
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-danger btn-filter m-2">
                  Borrar
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="content m-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card p-">
            <div class="card-header">
              <h4 class="card-title">Registro de productos</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Unidades vendidas</th>
                    <th class="text-right">Valor</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a href="#" class="pull-left">
                          <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen-1200x675.jpg">
                        </a>
                      </td>
                      <td>Arroz</td>
                      <td>100</td>
                      <td>50</td>
                      <td class="text-right">$36,738</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#" class="pull-left">
                          <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen-1200x675.jpg" class="media-photo">
                        </a>
                      </td>
                      <td>Huevo</td>
                      <td>200</td>
                      <td>75</td>
                      <td class="text-right">$23,789</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#" class="pull-left">
                          <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen-1200x675.jpg" class="media-photo">
                        </a>
                      </td>
                      <td>Leche</td>
                      <td>50</td>
                      <td>30</td>
                      <td class="text-right">$56,142</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#" class="pull-left">
                          <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen-1200x675.jpg" class="media-photo">
                        </a>
                      </td>
                      <td>Pan</td>
                      <td>300</td>
                      <td>90</td>
                      <td class="text-right">$38,735</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#" class="pull-left">
                          <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen-1200x675.jpg" class="media-photo">
                        </a>
                      </td>
                      <td>Manzanas</td>
                      <td>150</td>
                      <td>60</td>
                      <td class="text-right">$63,542</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#" class="pull-left">
                          <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen-1200x675.jpg" class="media-photo">
                        </a>
                      </td>
                      <td>Zanahorias</td>
                      <td>75</td>
                      <td>40</td>
                      <td class="text-right">$78,615</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#" class="pull-left">
                          <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen-1200x675.jpg" class="media-photo">
                        </a>
                      </td>
                      <td>Queso</td>
                      <td>120</td>
                      <td>70</td>
                      <td class="text-right">$98,615</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  