<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!--inicio de card-->
            <div class="height d-flex justify-content-center align-items-center">              
                <div class="card p-3">
                    
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="mt-2">
                            <h6 class="text-uppercase">Nombre</h6>
                            <div class="mt-5">
                                <h5 class="text-uppercase mb-0">marca</h5>
                                <h1 class="main-heading mt-0">10.000$</h1>
                                <div class="d-flex flex-row user-ratings">
                                    <div class="ratings">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                    </div>
                                    <h6 class="text-muted ml-1">4/5</h6>
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <img src="https://i.imgur.com/MGorDUi.png" width="200">
                        </div>
                    </div>
                                    
                    <p>Descripcion </p>
                    
                    <button class="btn btn-danger mt-3">Agregar al carrito</button>
                </div>                         
            </div>   
            <!--fin de card-->   
                
            <!--TODO: pegar aca mas card con el bucle -->
                     
        </div>
        
    </div>
</div>