.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.bi{
    font-size: 2rem;
}
.btn, 
.btn-primary, 
.btn-lg{
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
}

a{
    text-decoration: none;
}