<header class="p-3 border-bottom">
  <div class="container mx">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
      >
        <img
          src="../../../assets/img/logo.png"
          height="100"
          alt="StockProject"
        />
      </a>

      <ul
        class="nav col-12 col-lg-5 me-lg-auto ms-lg-auto mb-2 justify-content-between mb-md-0"
      >
      <li>
        <a routerLink="inicio" class="nav-link px-3 link-body-emphasis"
          >Inicio<i class="bi bi-house ms-2 bi-size"></i
        ></a>
      </li>
        <li>
            <a routerLink="#" class="nav-link px-3 link-body-emphasis"
              >Notificaciones<i class="bi bi-bell ms-2 bi-size"></i
            ></a>
          </li>
        <li>
          <a routerLink="mi-carrito" class="nav-link px-3 link-body-emphasis"
            >Carrito<i class="bi bi-cart3 ms-2 bi-size"></i
          ></a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-5" role="search">
        <input
          type="search"
          class="form-control form-control-lg"
          placeholder="Buscar..."
          aria-label="Search"
        />
      </form>

      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/SebzSGC.png"
            alt="SebzSGC"
            width="42"
            height="42"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Ver perfil</a></li>
          <li><a class="dropdown-item" href="#">Mis compras</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
