<section class="p-5" style="background-color: #eeee;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div *ngIf="carrito != null">
          <p><span class="h2">Tu carrito </span><span class="h4">( {{totalItems}} producto/s )</span></p>
            <!--  Inicio de card  --> 
          <div *ngFor="let item of carrito; let indice = index" class="card mb-4">
            <div class="card-body p-4">
  
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="https://cdn0.ispace.am/AfrOrF3gWeDA6VOlDG4TzxMv39O7MXnF4CXpKUwGqRM/resize:fill:540/bg:f6f6f6/q:100/plain/s3://catalog-products/220309095548266467/220310170017723000.png@webp"
                    class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Nombre</p>
                    <p class="lead fw-normal mb-0">{{item.Nombre}}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Cantidad</p>
                    <button (click)="downItem(item.Id, item.Cantidad)" type="button" class="lead btn btn-outline btn-sm">
                      <i class="bi bi-dash-lg" style="font-size: 1rem;"></i>
                    </button>
                    <p class="lead fw-normal mb-0 d-inline-block" style="margin-right: 20px;margin-left: 20px;">{{item.Cantidad}}</p>
                    <button (click)="upItem(item.Id, item.Cantidad, item.Stock)" type="button" class="lead btn btn-outline btn-sm">
                        <i class="bi bi-plus-lg" style="font-size: 1rem;"></i>
                      </button>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Precio</p>
                    <p class="lead fw-normal mb-0">{{formatPrice(item.Precio)}}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Total</p>
                    <p class="lead fw-normal mb-0">{{formatPrice(item.Subtotal)}}</p>
                  </div>
                </div>
                <div class="col-md-12 d-flex justify-content-end">
                    <div>
                      <button (click)="deleteItem(item.Id)" type="button" class="btn btn-danger btn-lg">
                        <i class="bi bi-trash"></i>
                      </button>
                      
                    </div>
                  </div>
              </div>
  
            </div>
          </div>
        </div>
            <!--  Fin de card  -->
          <div class="card mb-5">
            <div class="card-body p-4">
  
              <div class="float-end">
                <p class="mb-0 me-5 d-flex align-items-center">
                  <span class="small text-muted me-2">Total de la orden:</span> <span
                    class="lead fw-normal">{{formatPrice(totalToPay)}}</span>
                </p>
              </div>
  
            </div>
          </div>
  
          <div class="d-flex justify-content-end">
            <button routerLink="/inicio" type="button" class="btn btn-light btn-lg me-2">Continuar comprando</button>
            <button (click)="Comprar()" type="button" class="btn btn-primary btn-lg">Comprar</button>
          </div>
  
        </div>
      </div>
    </div>
  </section>