<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Listado de productos</h1>
        <p class="lead text-body-secondary">Aca abajo encontraras los diferentes productos disponibles.</p>
      </div>
    </div>
  </section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!--inicio de card-->
            <div class="height d-flex justify-content-center align-items-center">              
                <div class="card p-3">
                    
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="mt-2">
                            <h6 class="text-uppercase">iPad Air</h6>
                            <div class="mt-5">
                                <h5 class="text-uppercase mb-0">Apple</h5>
                                <h1 class="main-heading mt-0">$50.000</h1>
                                <div class="d-flex flex-row user-ratings">
                                    <div class="ratings">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                    </div>
                                    <h6 class="text-muted ml-1">4/5</h6>
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <img src="https://cdn0.ispace.am/AfrOrF3gWeDA6VOlDG4TzxMv39O7MXnF4CXpKUwGqRM/resize:fill:540/bg:f6f6f6/q:100/plain/s3://catalog-products/220309095548266467/220310170017723000.png@webp" width="160">
                        </div>
                    </div>
                                    
                    <p>Descripcion </p>
                    
                    <button routerLink="/mi-carrito" class="btn btn-danger mt-3">Agregar al carrito</button>
                </div>                         
            </div>   
            <!--fin de card-->   
                
            <!--TODO: pegar aca mas card con el bucle -->
                     
        </div>
        
    </div>
</div>