.card{
    
    width:350px;
    height:370px;
}

.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    scale: 1.1;
}

.image{
    position:absolute;
    right:12px;
    top:10px;
}

.main-heading{
    
    font-size:40px;
    color:red !important;
}

.ratings i{
    
    color:orange;
    
}

.user-ratings h6{
    margin-top:2px;
}

.btn-danger{
    height:68px;
    font-size:18px;
}