<section class="p-5 bk">
    <div class="content m-5">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="btn-group d-flex flex-wrap">
                <button (click)="sortClient()" type="button" class="btn btn-success btn-filter m-2">
                  Clientes
                </button>
                <button (click)="sortEmployee()" type="button" class="btn btn-warning btn-filter m-2">
                  Trabajadores
                </button>
                <button (click)="sortAdmin()" type="button" class="btn btn-info btn-filter m-2">
                  Administradores
                </button>
                <button (click)="resetSort()" type="button" class="btn btn-dark btn-filter m-2">
                  Todos
                </button>
                <div class="btn-group-2">
                <button (click)="editDialog()" type="button" class="btn btn-secondary btn-filter m-2">
                    Editar
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button (click)="delete()" type="button" class="btn btn-danger btn-filter m-2">
                    Borrar
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
  <div class="content m-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-">
          <div class="card-header">
            <h4 class="card-title">Registro de usuarios</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Cedula</th>
                  <th>Cargo</th>
                  <th>Correo</th>
                  <th>Contraseña</th> 
                </thead>
                <tbody *ngFor="let item of showData" [ngClass]="{'selected': item != null}" (click)="selectedRow(item)">
                  <tr>
                    <td>{{item.Id}}</td>
                    <td>{{item.Nombre}}</td>
                    <td>{{item.Cedula}}</td>
                    <td>{{item.Cargo}}</td>
                    <td>{{item.Correo}}</td>
                    <td>{{item.Contrasena}}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
