<section class="p-5 bk">
    <div class="content m-5">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="btn-group d-flex flex-wrap">
                <button type="button" class="btn btn-success btn-filter m-2">
                  Clientes
                </button>
                <button type="button" class="btn btn-warning btn-filter m-2">
                  Trabajadores
                </button>
                <button type="button" class="btn btn-info btn-filter m-2">
                  Administradores
                </button>
                <button type="button" class="btn btn-dark btn-filter m-2">
                  Todos
                </button>
                <div class="btn-group-2">
                <button type="button" class="btn btn-secondary btn-filter m-2">
                    Editar
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-filter m-2">
                    Borrar
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
  <div class="content m-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-">
          <div class="card-header">
            <h4 class="card-title">Registro de usuarios</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Rol</th>
                  <th>Correo</th>
                  <th class="text-right">Salario</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Dakota Rice</td>
                    <td>Niger</td>
                    <td>Oud-Turnhout</td>
                    <td>asdasd@gmail.com</td>
                    <td class="text-right">$36,738</td>
                  </tr>
                  <tr>
                    <td>Minerva Hooper</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td>asdasd@gmail.com</td>
                    <td class="text-right">$23,789</td>
                  </tr>
                  <tr>
                    <td>Sage Rodriguez</td>
                    <td>Netherlands</td>
                    <td>Baileux</td>
                    <td>asdasd@gmail.com</td>
                    <td class="text-right">$56,142</td>
                  </tr>
                  <tr>
                    <td>Philip Chaney</td>
                    <td>Korea, South</td>
                    <td>Overland Park</td>
                    <td>asdasd@gmail.com</td>
                    <td class="text-right">$38,735</td>
                  </tr>
                  <tr>
                    <td>Doris Greene</td>
                    <td>Malawi</td>
                    <td>Feldkirchen in Kärnten</td>
                    <td>asdasd@gmail.com</td>
                    <td class="text-right">$63,542</td>
                  </tr>
                  <tr>
                    <td>Mason Porter</td>
                    <td>Chile</td>
                    <td>Gloucester</td>
                    <td>asdasd@gmail.com</td>
                    <td class="text-right">$78,615</td>
                  </tr>
                  <tr>
                    <td>Jon Porter</td>
                    <td>Portugal</td>
                    <td>Gloucester</td>
                    <td>asdasd@gmail.com</td>
                    <td class="text-right">$98,615</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
