.bk {
    background-color: #eee;
    height: auto;
  }
  .panel {
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #fcfcfc;
  }
  .panel .btn-group {
    margin: 15px;
  }
  
  .btn-group-2 {
    border-radius: 50px;
    margin: 5px;
  }

  .pull-left img {
    width: 90px;
    height: 90px;
    
  }

  .selected {
    background-color: #f31818; /* Cambia el color de fondo seleccionado según tus preferencias */
    color: #000; /* Cambia el color de texto si es necesario */
  }
  